.row { background: white !important; margin-bottom: 100px; }
.noBg { background: #f7f4ef !important; margin-top: -92px !important; }
.social { float: right; margin-right: 20px; }
.social p { font-family: 'Oswald', arial; float: left; font-size: 13px; font-weight: 400; color: #464646; }
.social img { width: 24px; height: 20px; }
.subir { float: right; cursor: pointer; }
.bannerPH { float: left; margin-top: -8px; }
.navShadow { height: 45px; -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2); box-shadow: 0px 0px 8px 2px rgba(0,0,0,.2); }


#wrapper { padding: 0 15px; -webkit-box-shadow: 4px 0px 8px rgba(68,68,68,0.15), -4px 0px 8px rgba(68,68,68,0.15), 0px 4px 8px rgba(68,68,68,0.15); -moz-box-shadow: 4px 0px 8px rgba(68,68,68,0.15), -4px 0px 8px rgba(68,68,68,0.15), 0px 4px 8px rgba(68,68,68,0.15); box-shadow: 4px 0px 8px rgba(68,68,68,0.15), -4px 0px 8px rgba(68,68,68,0.15), 0px 4px 8px rgba(68,68,68,0.15); }

.top-bar-section ul li a { text-transform: uppercase; }

.top-bar-section ul li a:hover { background-color: #512173 !important; color: white; }

.esconde { display: none; }

#slideshow { margin-top: -30px; }
#slideshow .slider { position: relative; }
#slideshow .slider a#next { position: absolute; top: 180px; width: 34px; height: 101px; z-index: 7; text-indent: -10000px; }
#slideshow .slider a#next { right: 15px; background: url("../img/slider-next.png") no-repeat left top; }

#slideshow .slider a#prev { position: absolute; top: 180px; width: 34px; height: 101px; z-index: 7; text-indent: -10000px; }
#slideshow .slider a#prev { left: 15px; background: url("../img/slider-prev.png")  no-repeat left top; }

#slider-area { width: 1000px !important; height: 491px !important; }
#slider-area > li { list-style: none; }

.text-box { z-index: 999; position: absolute; left: 610px; top: 320px; width: 390px; height: 110px; min-height: 110px; padding: 15px; }

.text-box > h2, .text-box > span, .text-box > p { z-index: 999; color: white; }

.text-box-bg { z-index: -1; position: absolute; width: 100%; height: 100%; right: 0; background: #512173; opacity: 0.5;  }

#nav { position: absolute; left: 20px; z-index: 77; top: 450px; }
#nav a { float: left; width: 15px; margin-right: 5px; height: 32px; text-indent: -10000px; background: url("../img/nav-bg.png") no-repeat left top; }
#nav a.activeSlide { background-position: -21px top; }
#nav a:hover { background: url("../img/nav-bg-hover.png") no-repeat left bottom; }

#noticias_title { background: #efefef; width: 1000px; height: 50px; padding: 5px; }
#noticias_title span { text-transform: uppercase; }
.textLight { font-family: 'Oswald', arial; font-weight: 300; font-size: 40px; color: #512173; }
.textBold { font-family: 'Oswald', arial; font-weight: 700; font-size: 40px; color: #b5a8c1; }
.module_title { background: #512173; font-family: "Oswald", arial; font-weight: 400; font-size: 21px; color: white; width: 640px; height: 45px; /*text-align: center;*/ padding: 10px; }
.module_title2 { background: #512173; font-family: "Oswald", arial; font-weight: 400; font-size: 21px; color: white; width: 300px; height: 45px; /*text-align: center;*/ padding: 10px; }

#noticias_modules { margin-top: 20px; }

#blog { width: 300px; }
#bloguero_header { background: #efefef; border-bottom: 2px solid #512173; width: 300px; height: 70px; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; }
#bloguero_header img { float: left; margin-right: 10px; }
#bloguero_header span :first-child { margin-right: 12px; }

#bloguero_content { height: 300px; width: 300px; background: #efefef; border-bottom: 5px solid #512173; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; overflow-y: scroll; }
.bloguero_name { font-family: georgia; font-size: 16px; color: #585858; font-style: italic; font-weight: bold; margin-left: 15px; }
.bloguero_cap { font-size: 12px; font-family: georgia; color: #585858; font-style: italic; margin-left: 15px; margin-top: -25px; }

#bloguero_entries {  }
#bloguero_entries li { list-style: none; padding: 5px; border-bottom: 1px solid #e2e2e2; font-family: georgia; font-size: 14px; color: #585858; }

.mas_links { position: relative; top: -25px; left: 0px; text-align: right; background: #efefef; width: 100%; height: 20px; padding-right: 7px; border-left: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; }
.mas_links a { font-family: georgia; font-size: 12px; color: #5f377d; font-style: italic; font-weight: bold; text-decoration: underline;  }


#noticias_content { height: 370px; width: 640px; background: #efefef; border-bottom: 5px solid #512173; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; overflow-y: scroll; }
#noticias_content2 { height: 370px; width: 300px; background: #efefef; border-bottom: 5px solid #512173; border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; overflow-y: scroll; }
#noticias_entries img { float: left; margin-right: 10px; }
#noticias_entries li { list-style: none; padding: 5px; border-bottom: 1px solid #e2e2e2; font-family: georgia; font-size: 14px; color: #585858; display: inline-block; width: 100%; }
.fecha { margin: 0; font-weight: 800; font-style: italic; font-size: 12px;  }
.descripcion { margin: 0; line-height: 20px; }



#home300x250 { width: 300px; }
#social_widget { width: 300px; height: 134px; margin-top: 30px; }

#main_video { width: 940px; height: 526px; margin: 30px auto; }
#videos_social { margin-top: -20px; padding-left: 30px; }
.main_video_title h3 { font-family: 'Oswald', arial; font-weight: 700; font-size: 20px; color: #404040; }
.video_title { margin: 0 auto; padding-left: 30px; }
.video_title p { margin-top: -8px; }

#mas_videos_title { background: #efefef; width: 1000px; height: 50px; padding: 5px; } 
#mas_videos_title span { text-transform: uppercase; }

.video_thumb { width: 158px; height: 170px; float: left; margin-right: 30px; }
.video_thumb p { margin-top: 10px; }
.video_thumb:last-child { margin-right: 0px; }

#video_thumbs_holder { padding-left: 42px; margin-top: 22px; margin-bottom: 30px; }
#video_thumbs_holder p, #video_thumbs_holder a { font-family: georgia; font-size: 13px; font-weight: bold; font-style: italic; color: #404040; }


/*PERFIL DE CANDIDATAS*/
.volver a { text-decoration: underline; color: #512173; font-family: georgia; font-size: 18px; margin-left: 20px; }
.volver img { margin-right: 15px; }
.profile_candidata { margin: 20px; width: 960px; height: 500px; }
.profile_title { margin-top: 20px; margin-left: 20px; }
.profile_title div { height: 46px; }
.nombre { background: #512173; font-family: georgia; font-style: italic; font-weight: bold; font-size: 21px; color: white; width: 300px; float: left; padding: 12px; }
.pueblo { background: #efefef; font-family: 'Oswald', arial; font-weight: 300; font-size: 21px; color: #512173; width: 660px; float: left; padding: 12px; }
/*.info_candidata { position: absolute; z-index: 2; margin-top: 70px; color: white; font-family: arial; font-size: 16px; margin-left: 10px; }*/
.info_candidata { position: absolute; z-index: 2; margin-top: 70px; color: white; font-family: arial; font-size: 16px; margin-left: 10px; width: 280px; }
/*.info_candidata p { line-height: 6px; }*/
.info_candidata p { line-height: 20px; }
.info_candidata_background { z-index: 1; position: absolute; width: 300px; height: 500px; left: 0; margin-top: 46px; background: #512173; opacity: 0.5; }
.extras { padding-left: 20px; margin-top: 46px; margin-bottom: 30px; }
.left_column { float: left; width: 650px;  }
.left_column hr { border-top: 1px dotted #b2b2b2;  height: 1px; margin: 0; }
.left_column h3, .right_column h3 { margin-top: 11px; font-family: 'Oswald', arial; font-size: 16px; color: #464646; font-weight: 400; text-transform: uppercase;  }
.right_column { float: right; width: 300px; }
.galeria_candidatas { margin-top: 35px; }
.galeria_share { margin: 15px 0 15px 0; }
.votar { width: 300px; height: 69px; background: #522173 url(../img/votar_check.png) no-repeat 10px 15px; margin-top: 9px; display: block; }
.votar p { font-family: 'Oswald', arial; font-weight: 400; font-size: 24px; color: white; text-transform: uppercase; padding: 17px 0 0 85px; }
.publicidad_perfil { margin-top: 20px; }
/*PERFIL DE CANDIDATAS*/



/*DIRECTORIO DE CANDIDATAS*/
.candidata_thumb { width: 159px; height: 150px; float: left; margin: 10px; }
.candidata_banner { position: absolute; width: 159px; height: 44px; background: #522173; color: white; z-index: 10; margin-top: -1px; padding: 5px; }
.candidata_banner h4 { font-family: georgia; font-style: italic; font-weight: bold; color: white; font-size: 13px; margin: 0px; }
.candidata_banner h5 { font-family: georgia; color: white; font-size: 12px; margin: 0px; }
.noticias_widget { margin-top: 30px; }
.publicidad_candidatas { margin-top: 10px; }
.twitter_widget_directorio { margin-top: 30px; }
/*DIRECTORIO DE CANDIDATAS*/



/*VIDEOS*/
#video_holder { width: 940px; height: auto; margin: 30px auto; }
.video_title_ { margin: 0 auto; padding-left: 30px; margin-bottom: 20px; }
.video_title_ p { margin-top: -8px; font-family: georgia; font-size: 14px; }
#videos_social_ { margin-top: -20px; padding-left: 30px; margin-bottom: 20px; }
.textLightVideos { font-family: 'Oswald', arial; font-weight: 300; font-size: 24px; color: #512173; margin-left: 15px; }
.sponsors_videos { position: absolute; width: 175px; height: 47px; top: -10px; left: 794px; }
#thumbs { margin-top: 10px; }
#thumbs .video_thumb:last-child { margin-right: 290px; }
#thumbs li { list-style: none; display: none; }
#thumbs li p, #thumbs li a { font-family: georgia; font-size: 13px; font-weight: bold; font-style: italic; color: #404040; }
#loadMore { float: right; margin-top: 20px;  margin-right: 120px; font-family: georgia; font-size: 12px; color: #5f377d; font-style: italic; font-weight: bold; text-decoration: underline; }
#loadMoreNota { float: right; margin-top: -30px;  margin-right: 40px; font-family: georgia; font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; }
#loadMoreNota a { color: #5f377d; }
/*VIDEOS*/



/*VOTACIONES*/
#vote_candidatas { width: 900px; margin: 30px auto; }
.candidata_banner_vota { position: absolute; width: 159px; height: 31px; background: #36134f url('../img/votar_flechita.png') 140px 8px no-repeat; color: white; z-index: 10; margin-top: 25px; padding: 2px 0px 0px 4px; }
.candidata_banner_vota h4 { font-family: 'Oswald', arial; font-size: 16px; color: white; font-weight: 400; }
#voto_header { width: 900px; height: auto; margin: 0 auto; }
#voto_header p { text-align: center; color: #000000; font-family: Georgia, 'Nimbus Roman No9 L', serif; font-size: 16px; line-height: 16px; font-style: italic; width: 453px; margin-left: 220px; }
#voto_header h3 { text-align: center; color: #512173; font-family: 'Oswald', sans-serif; font-size: 36px; font-weight: bold }

.vote_candidata_thumb { width: 159px; height: 150px; float: left; margin: 10px 20px 30px 0px; }





/*VOTACIONES*/






